*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.presentation {
    background-color: #FAC751;
    background-image: url("/mainPage/images/imageBG.jpg");
    background-size: cover;
    padding: 5rem;
    width: 100%;
}

.presentationText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: justify;
    width: 30%;
    margin-left: 5rem;
    color: white;
    position: relative;
    top: 13rem;
}

#features {
    padding: 7% 15%;
    padding: 5%;
    align-items: center;
}

.building {
    position: relative;
    bottom: 2.5rem;
    width: 7rem;
    transition: 0.5s;
}

.worker {
    position: relative;
    bottom: .5rem;
    width: 7rem;
    transition: 0.5s;
}

.featureBox1 {
    position: relative;
    bottom: 1.8rem;
    transition: 1s;
}

.featureBox2 {
    position: relative;
    bottom: 1rem;
}

.earth {
    position: relative;
    bottom: 1.5rem;
    width: 6rem;
}

.title {
    position: relative;
    bottom: .5rem;
}

.subtitle {
    position: relative;
    bottom: .3rem;
}

.title1 {
    position: relative;
    top: 1.3rem;
}

.subtitle1 {
    position: relative;
    top: 1.5rem;
}

.title2 {
    position: relative;
    top: 2rem;
}

.subtitle2 {
    position: relative;
    top: 1.6rem;
}

.container-fluid {
    padding: 3% 15%;
}

.infoTecno {
    margin: 1rem;
}

.navbar {
    height: 5rem;
}

.buttonInfo {
    margin-left: 8rem;
    position: relative;
    bottom: 5rem;
    left: 15rem;
}

.linkInfo {
    color: white;
    text-decoration: none;
    position: relative;
}

.linkInfo:hover {
    color: white;
    text-decoration: none;
}

.navLogo {
    width: 10rem;
}

.carouselJs {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carouselJs>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 500ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

#press {
    text-align: center;
    padding-bottom: 3%;
}

.aberLogo {
    width: 15%;
    margin: 20px 20px 50px 270px;
}

.abmsLogo {
    width: 15%;
    margin: 20px 20px 50px 270px;
}

.contacts {
    background-color: #23395e;
    text-decoration: none;
    color: white;
}

.rowStyle {
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.unidSP {
    text-decoration: none;
    color: white;
}

.mail {
    text-decoration: none;
    color: white;
}

.tableContacts {
    text-align: center;
    position: relative;
    left: 420px;
}

iframe {
    width: 40%;
    position: relative;
    left: 50rem;
}

@media (max-width:125rem) {
    .button {
        margin-left: 3rem;
    }
    iframe {
        position: relative;
        bottom: 12rem;
        left: 40rem;
        width: 50%;
    }
}

@media (max-width:64.5rem) {
    .navbar {
        margin: 15px;
        width: 115%;
    }
    .navbar-toggler {
        position: relative;
        left: 5rem;
        bottom: 1rem;
    }
    .navbar-brand {
        position: relative;
        bottom: 1rem;
    }
    .meet {
        width: 100%;
        font-size: 25px;
        margin-right: 5px;
    }
    body {
        margin: 0;
        padding: 0;
    }
    .button {
        margin-top: 20px;
        margin-right: 120px;
    }
    iframe {
        position: relative;
        bottom: 20rem;
        left: 25rem;
        width: 60%;
    }
    .carouselJs {
        width: 120%;
    }
    .contacts {
        width: 120%;
    }
}

@media screen and (max-width:62.5rem) {
    .navbar {
        width: 118%;
    }
    .rowStyle {
        position: relative;
        right: 220px;
    }
    .meet {
        width: 100%;
    }
    iframe {
        position: relative;
        bottom: 21rem;
    }
}

@media screen and (max-width:80rem) {
    iframe {
        position: relative;
        left: 40rem;
        width: 45%;
    }
    .presentationText {
        width: 25rem;
        margin-bottom: 8rem;
    }
}

@media screen and (max-width:71.875rem) {
    iframe {
        position: relative;
        width: 50%;
    }
}

@media screen and (max-width:75rem) {
    iframe {
        position: relative;
        left: 35rem;
        width: 50%;
    }
}

@media screen and (max-width:69.875rem) {
    iframe {
        position: relative;
        left: 32rem;
        width: 50%;
    }
}

@media screen and (max-width:64.5rem) {
    .presentation {
        width: 120%;
    }
    .presentationText {
        margin-bottom: 15rem;
    }
    iframe {
        position: relative;
        left: 35rem;
        width: 50%;
    }
}

@media screen and (max-width:61.938rem) {
    .building,
    .title,
    .subtitle {
        position: relative;
        left: 6rem;
    }
    .worker,
    .title1,
    .subtitle1 {
        position: relative;
        left: 6rem;
    }
    .subtitle1 {
        margin-bottom: 8rem;
    }
    .earth,
    .title2,
    .subtitle2 {
        position: relative;
        left: 6rem;
    }
    .associado {
        position: relative;
        left: 6rem;
    }
    .aberLogo {
        position: relative;
        left: 1rem;
    }
    .abmsLogo {
        position: relative;
        left: .5rem;
    }
    .tableContacts {
        margin-left: 4rem;
    }
}